{% load static %}
{% load filters %}
{% block content %}
<div id="table_result">
    <div id="result_message_claim" class="result-message" style="display: flex; justify-content: space-between;">
        <p id="amount_claim" style="font-family: AstraBold; font-size: larger;"></p>
    </div>
    <div>
        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between;">
            <div>
                {% for group in request.user.groups.values_list %}
                    {% if group|in_group:"Manager,Service organization" %}
                        <a href="/create/claim/">
                            <button class="different_button" style="width: 100%; margin-left: 0; font-size: 15px;">Добавить рекламацию</button>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <button id="search-button-claim" type="submit">Поиск</button>
        </div>
        <p style="width: 100%; background-color: rgba(255, 255, 255, 0.404); height: 5px; margin: 0 auto;"></p>
    </div>
    <div style="overflow-x: auto; max-width: 100%; max-height: 100%; background-color: rgba(0, 0, 0, 0.3);">
        <table>
            <thead>
                <tr id="table_titles_claim" style="background-color: rgb(98, 95, 89); color: white;">
                    <th>
                        Машина
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="machine__serial_number">
                        <div style="display: flex; width: 50%;">
                            <button id="machine__serial_number__Asc" class="sort-button" >🔼</button>
                            <button id="machine__serial_number__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Сервисная компания
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="service_company__name">
                        <div style="display: flex; width: 50%;">
                            <button id="service_company__name__Asc" class="sort-button" >🔼</button>
                            <button id="service_company__name__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Дата отказа
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="date" id="failure_date">
                        <div style="display: flex; width: 50%;">
                            <button id="failure_date__Asc" class="sort-button" >🔼</button>
                            <button id="failure_date__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Наработка, м/час
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="operating_hours">
                        <div style="display: flex; width: 50%;">
                            <button id="operating_hours__Asc" class="sort-button" >🔼</button>
                            <button id="operating_hours__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Узел отказа
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="failure_node__name">
                         <div style="display: flex; width: 50%;">
                            <button id="failure_node__name__Asc" class="sort-button" >🔼</button>
                            <button id="failure_node__name__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Описание отказа
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="failure_description">
                        <div style="display: flex; width: 50%;">
                            <button id="failure_description__Asc" class="sort-button" >🔼</button>
                            <button id="failure_description__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Способ восстановления
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="recovery_method__name">
                        <div style="display: flex; width: 50%;">
                            <button id="recovery_method__name__Asc" class="sort-button" >🔼</button>
                            <button id="recovery_method__name__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Запасные части
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="used_spare_parts">
                         <div style="display: flex; width: 50%;">
                            <button id="used_spare_parts__Asc" class="sort-button" >🔼</button>
                            <button id="used_spare_parts__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Дата восстановления
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="date" id="recovery_date">
                         <div style="display: flex; width: 50%;">
                            <button id="recovery_date__Asc" class="sort-button" >🔼</button>
                            <button id="recovery_date__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                    <th>
                        Время простоя
                        <input class="search-input" style="border: solid white 2px; transition: all 1s;" type="text" id="downtime">
                        <div style="display: flex; width: 50%;">
                            <button id="downtime__Asc" class="sort-button" >🔼</button>
                            <button id="downtime__Desc" class="sort-button" >🔽</button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="table_data_claim">
            </tbody>
        </table>
    </div>
</div>
<script>
    const claim_api = new WebSocket("ws://localhost:9090/api/claim/");
    let claimWaitingOn = false;
    let claimMemoryInput = ' '

    claim_api.onmessage = function(e) {
        const search_result_claim = document.querySelector('#amount_claim')

        try{
            const responseData = JSON.parse(e.data);
            if (responseData.error) {
                search_result_claim.textContent = `${responseData.description}`
            } else {
                document.querySelector('#amount_claim').textContent = `Результат поиска: ${responseData.claim_info.length}`
                search_result_claim.textContent = `Результат поиска: ${responseData.claim_info.length}`
                const tableResult = document.querySelector('#result_message_claim');
                const tableTitles = document.querySelector('#table_titles_claim');
                const tableData = document.querySelector('#table_data_claim')
                tableResult.style.color = 'black'
                tableData.style.backgroundColor = 'rgb(202, 200, 191)'
                tableData.style.color = 'black'
                tableTitles.style.backgroundColor = 'rgb(98, 95, 89)'
                let html = ``
                responseData.claim_info.forEach(object => {
                    html += `<tr id="claim_${object.id}" style="background-color: rgb(234, 229, 216); transition: all 1s;"></tr>`
                })
                document.querySelector('#table_data_claim').innerHTML = html;
                responseData.claim_info.forEach(object =>{
                    let html = ``
                    responseData.fields.forEach(field => {
                        if(object.hasOwnProperty(field)) {
                            if (object[field].hasOwnProperty('name')) {
                                html += `<td> <a style="text-decoration: none;" href="/description/?last_page=${window.location.href}&table_title=${123}&name=${object[field]['name']}&description=${object[field]['description']}" class="clue" style="text-decoration: underline"; data-clue="${object[field]['description']}" target="_blank"> ${object[field]['name']} </a> </td>`
                            } else {
                                html += `<td>${object[field]}</td>`
                            }
                        }
                        document.querySelector(`#claim_${object.id}`).innerHTML = html;
                    })
                });
            }
            claimWaitingOn = false;
            
        } catch (e) {
           console.error('Ошибка при парсинге JSON', e)
        }
    };


    document.addEventListener('DOMContentLoaded', function() {
        const tableTitles = document.getElementById('table_titles_claim');
        const searchButton = document.querySelector('#search-button-claim');

        if (tableTitles) {
            const inputs = tableTitles.querySelectorAll('input.search-input');
            const sortButtons = tableTitles.querySelectorAll('button.sort-button');
            let activeInput = null;

            inputs.forEach(currentInput => {
                currentInput.addEventListener('input', function() {
                    inputs.forEach(input => {
                        if (input !== currentInput) {
                            input.value = '';
                        }
                    });
                      activeInput = currentInput;
                    sendRequestToServer();
                });
            });
            
           sortButtons.forEach(button => {
                button.addEventListener('click', function() {
                    sortButtons.forEach(btn => {
                        if (btn !== button) {
                            btn.classList.remove('active')
                        }
                    });
                    button.classList.toggle('active');
                    sendRequestToServer();
                });
            });
            
            searchButton.onclick = function() {
                 sendRequestToServer();
             };


            function sendRequestToServer() {
                const activeSortButtons = [];
                sortButtons.forEach(button => {
                    if (button.classList.contains('active')) {
                        activeSortButtons.push(button.id);
                    }
                });
                 let requestData = {
                        api_key: userid,
                        filterBy: activeSortButtons,
                    };
                 if(activeInput && activeInput.value !== '') {
                     requestData.query = [
                        activeInput.id, activeInput.value
                        ]
                     requestData.filterBy = [
                        activeInput.id,
                        ...activeSortButtons
                        ]
                 }
                claim_api.send(JSON.stringify(requestData));
            }
        }
    });

    claim_api.onopen = () => {
        console.log('WebSocket connection opened');
    };

    claim_api.onerror = (error) => {
        console.error('WebSocket error:', error);
    };

    claim_api.onclose = (event) => {
        if (event.wasClean) {
            console.log(`WebSocket connection closed cleanly, code=${event.code}`);
        } else {
            console.error('WebSocket connection died');
        }
    };
</script>
{% endblock %}