{% extends 'flatpages/default.html' %}
{% load static %}

{% block content %}

<style>
    p {
        margin: 0;
    }
</style>

<div class="container full-screen">
    <div class="header" style="margin: 0 auto; margin-bottom: 50px; max-width: 70%;">
        <div class="logo" style="margin: 10px;">
            <img style="width: 120px;" src="/static/materials/Logotype.svg">
        </div>
        <div>
            <a class="contact" href="https://t.me/+78352201209" style="font-family: AstraBold;">+7 (835) 220 12 09</a>
        </div>
        <div style="margin: 10px;">
            {% if user.is_authenticated %}
                <a class="auth" href="/accounts/profile" style="font-family: AstraBold;"> {{ user.first_name }} {{ user.last_name }} </a>
            {% else %}
                <a class="auth" href="/accounts/login/" style="padding: 10px 20px;">Вход</a>
            {% endif %}
        </div>
    </div>
    <div style="width: 80%; margin: 0 auto;">
        <a style="font-size: 20px;" href="{{ data.last_page }}">
            <button style="margin-left: 0;">НАЗАД</button>
        </a>
        <div class="background_color_blue" style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: center; margin-top: 20px; padding: 50px; color: white;">
            <p style="font-size: 35px; font-weight: 900;">{{ data.name }}</p>
            <p style="font-size: 20px;">{{ data.description }}</p>
        </div>
    </div>
</div>
{% endblock %}