{% load static %}

<footer>
    <div class="footer" style="color: white;">
        <div>
           <div class="copyright" style="color: white; font-family: AstraBold;">Мой Силант 2022</div> 
        </div>
        <div style="margin: 0px;">
            <img class="white_filter logo" src="/static/materials/Logotype.svg">
            <img class="white_filter logo number_one" src="/static/materials/number_one.svg">
        </div>
        <div>
            <a class="contact" href="https://t.me/+78352201209" style="color: white; font-family: AstraBold;">+7 (835) 220 12 09</a>
        </div>
    </div>
</footer>