{% load static %}

<div class="header" style="margin: 0 auto; margin-bottom: 50px; max-width: 70%;">
    <div class="logo" style="margin: 10px;">
        <img style="width: 120px;" src="/static/materials/Logotype.svg">
    </div>
    <img src="/static/materials/number_one.svg" type="image/svg+xml" alt="number_one">
    <div>
        <a class="contact" href="https://t.me/+78352201209" style="font-family: AstraBold;">+7 (835) 220 12 09</a>
    </div>
    <div style="margin: 10px;">
        {% if user.is_authenticated %}
            <a class="auth" href="accounts/profile" style="font-family: AstraBold;"> {{ user.first_name }} {{ user.last_name }} </a>
        {% else %}
            <a class="auth" href="accounts/login/" style="padding: 10px 20px;">Вход</a>
        {% endif %}
    </div>
</div>